/* General Styles */
body, html {
    background-color: #fffcfc;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu a.active {
    color: #2999E7;
}

.container {
    display: flex;
    height: 100vh;
}

/* Header Styles */
.header {
    margin-bottom: 20px;
}

.header .seja {
    color: #2999E7;
    font-size: 0.9em;
    font-weight: bold;
}

/* Sidebar Styles */
.sidebar {
    background-color: #e3e3e338;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.menu ul li {
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

.menu ul a {
    color: #000;
    text-decoration: none;
}

.menu ul a:hover {
    color: #2999E7;
}

.menu ul a::after {
    color: #2999E7;
}

.logout {
    margin-top: auto;
    padding: 20px;
}

.logout a {
    text-decoration: none;
    color: #000;
}

.logout a:hover {
    color: #2999E7;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.header .username {
    font-size: 2.5em;
    font-weight: bold;
}

.header span{
    color: #2999E7;
}

/* Events Section Styles */
.events {
    background-color: #e3e3e338;
    padding: 20px;
    border-radius: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
    color: #333;
}

.tab:hover {
    color: #2999E7;
}

.tab.active {
    color: #2999E7;
    border-bottom: 2px solid #2999E7;
}

.create-event-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fffcfc;
}

select:focus {
    outline: none;
    border-color: #007BFF;
}

.form-group input {
    width: 100%;
    padding: 10px 0 10px 10px;
    background-color: #fffcfc;
    border: none;
    outline: none;
    border-radius: 5px;
}

.label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #2999E7;
    transition: 0.3s;
}

input:focus ~ .label {
    width: 100%;
}

.form-group i {
    position: absolute;
    right: 10px;
    top: 35px;
    color: #aaa;
}

.event-cover {
    width: 100%;
    height: 100px;
    background-color: #cccccc8a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.event-cover i {
    font-size: 2em;
    color: #aaa;
}

.save-btn {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #2999E7;
    color: #fffcfc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.save-btn:hover {
    background-color: #217cbd;
}

/*PIX*/
#view-events {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#view-events .pix {
    display: flex;
    color: #000;
    max-width: 1200px;
}

#view-events .left-section {
    flex: 1;
    padding-right: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}

#view-events .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 300px;
    padding-left: 200px;
}

#view-events .right-section h3 {
    color: #2999E7;
    margin-bottom: 10px;
}

#view-events .bank-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#view-events .info {
    text-align: center;
}

#view-events .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#view-events .qr-placeholder {
    background: #cccccc;
    color: #000000;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#view-events a {
    color: #000;
    text-decoration: none;
}

/* Ocultar seção */
.hidden {
    display: none;
}

/* Estilo do botão ativo */
.tab.active {
    border-bottom: 2px solid #2999E7;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        height: auto;
    }
    .main-content {
        padding: 10px;
    }
}